{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<!--/* */
/* EBAT Template */
/* */
/* 3ecologias.net */
-->

<!--
Usage Instructions:
Make sure to include the scrolling-nav.js, jquery.easing.min.js, and scrolling-nav.css files.
To make a link smooth scroll to another section on the page, give the link the
.page-scroll class and set the link target to a corresponding ID on the page.
-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="Sua bateria instalada em até 40 minutos em toda a região metropolitana do Recife!">
  <meta name="keywords" content="Baterias online, bateria express, bateria para automóvel, bateria para carro, socorro em bateria, bateria urgente, ebat, e-bat">
  <meta name="author" content="3ecologias">
  <!-- facebook seo -->
  <meta property="og:type" content="product"/>
  <meta property=”og:description” content="Sua bateria instalada em até 40 minutos em toda a região metropolitana do Recife!"/>
  <meta property="og:type" content="http://ebat.com.br/imgs/logo.png"/>
  <meta property="og:url" content="http://ebat.com.br"/>
  <meta property="og:site_name" content="EBAT - Socorro em Baterias"/>
  <!-- twitter seo -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://ebat.com.br">
  <meta name="twitter:title" content="EBAT - Socorro em Baterias">
  <meta name="twitter:description" content="Sua bateria instalada em até 40 minutos em toda a região metropolitana do Recife!">
  <meta name="twitter:image" content="http://ebat.com.br/imgs/logo.png">
  <title>EBAT - Socorro em baterias</title>
  <!-- Bootstrap Core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="{% static 'font/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <!-- ShareButton -->
  <link href="{% static 'css/share-button.css' %}" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">
  <link href="{% static 'css/ebat.css' %}" rel="stylesheet">
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'imgs/favicons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'imgs/favicons/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'imgs/favicons/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'imgs/favicons/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'imgs/favicons/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'imgs/favicons/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'imgs/favicons/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'imgs/favicons/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'imgs/favicons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'imgs/favicons/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'imgs/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'imgs/favicons/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'imgs/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static '/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<!-- The #page-top ID is part of the scrolling feature
- the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Share Social Button -->
  <share-button></share-button>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="row-fluid">
        <div class="col-sm-4 col-sm-offset-4 col-lg-4 col-lg-offset-4 col-xs-12">
          <a class="page-scroll" href="#page-top">
            <div class="ebat-logo">
              <img src="{% static 'imgs/logo.svg' %}" class="img-responsive center-block" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </nav>
  <!-- Intro Section -->
  <section id="intro" class="intro-section">
    <div class="container">
      <!-- Jumbo! -->
      <div class="jumbotron">
        <h1>Seu problema resolvido!</h1>
        <p> Sua bateria instalada em 40 minutos em toda Recife e região! </p>
      </div>
      <!-- endJumbo -->
      <div class="row-fluid">
        <!-- begin button -->
        <div class="col-sm-6">
          <a class="btn btn-default btn-ebat col-lg-12" href="tel:40034567">
            <i class="fa fa-mobile fa-4x" aria-hidden="true"></i><h2>Ligue 4003 4567</h2>
          </a>
        </div>
        <!-- endbutton -->
        <!-- begin button -->
        <div class="col-sm-6">
          <a class="btn btn-default btn-ebat page-scroll col-lg-12" href="#call-us">
            <i class="fa fa-volume-control-phone fa-4x" aria-hidden="true"></i><h2>Ligamos para você!</h2>
          </a>
        </div>
        <!-- endbutton -->
      </div>
      <div class="row-fluid">
        <a class="btn btn-default btn-how page-scroll" href="#how-works">
          <h5>Como funciona?</h5>
        </a>
      </div>
    </div>
  </section>
  <!-- Call-us Section -->
  <section id="call-us" class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
          <h1>Digite seu telefone</h1>
          <div class="input-group space-bottom">
            <input type="text" class="form-control" placeholder="(XX) X XXXX XXXX" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2"><a href="#call-us"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Section -->
  <section id="how-works" class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xs-10 col-xs-offset-1">
          <h1>Como funciona?</h1>
          <div class="fancy-text">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <i class="fa fa-mobile fa-3x" aria-hidden="true"></i><p>Ligue ou mande seu telefone para o nosso atendimento</p>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <i class="fa fa-location-arrow fa-3x" aria-hidden="true"></i><p>Informe sobre o veículo e local de entrega</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i><p>Em 40 minutos, receba sua bateria</p>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <i class="fa fa-credit-card fa-3x" aria-hidden="true"></i><p>Depois de instalada, pague direto ao atendente</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="footer" class="footer">
    <a href="http://3ecologias.net" target="_blank"><img src="{% static 'imgs/logo-3e.png' %}" class="img-responsive center-block img-footer" /></a>
  </section>
  <!-- jQuery -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- Scrolling Nav JavaScript -->
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/scrolling-nav.js' %}"></script>
  <!-- ShareButton -->
  <script src="{% static 'js/share-button.js' %}"></script>
  <!-- Ebat JS -->
  <script src="{% static 'js/ebat.js' %}"></script>
  <script>
  var shareButton = new ShareButton({
    ui: {
      buttonText: '',
      icon_font: 'false',
      flyout: 'top center'
    },
    networks: {
      facebook: {
        enabled: true,
        url: 'http://ebat.com.br',
        title: 'EBAT - Socorro em bateria',
        caption: 'Resolvemos seu problema!',
        description: 'Sua bateria instalada em 40 min. em Recife e região!',
        image: 'http://ebat.com.br/imgs/logo.png'
      },
      googlePlus: {
        enabled: true,
        url: 'http://ebat.com.br'
      },
      pinterest: {
        enabled: false
      },
      reddit: {
        enabled: false
      },
      linkedin: {
        enabled: false
      },
      whatsapp: {
        enabled: true,
        description: 'EBAT - Socorro em bateria',
        url: 'http://ebat.com.br'
      },
      email: {
        enabled: false
      }
    }
  });
  </script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/58cc6ad4ab48ef44ecdb39bf/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</body>
</html>
